@using BookStore.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Login</div>
        </div>
        <div class="panel-body">
         
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
                    
                    <div class="input-group credit">

                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-warning" })

                    </div>
                    <div class="input-group credit">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-warning" })

                    </div>
                    <div class="input-group">

                        <div class="col-md-offset-2 col-md-12 controls">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-12 controls">
                            <input type="submit" value="Log in" class="btn btn-default" />
                            <button class="btn btn-primary">Login with Google</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div class="account">
                                Don't have an account!
                                @Html.ActionLink("Register as a new user", "Register")

                            </div>
                        </div>
                    </div>
                    
                }
                </section>

</div>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}