@model BookStore.ViewModels.OrderViewModel


@{
    ViewBag.Title = "OrderSummary";
}

<h2>Thankyou for your Purchase</h2>

<table class="table table-striped table-hover table-bordered">
    <tbody>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Edition</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Detail)
        {
             <tr>
                <td>@item.Books.Title</td>
                <td>@item.Books.Author </td>
                <td>@item.Books.Edition</td>
                <td>@Html.DisplayFor(p=>item.Books.Price)</td>
            </tr>
        }
        
        <tr>
            <td><a href="@Url.Action("Index","Home")" class="btn btn-primary">Continue Shopping</a></td>
            <th colspan="2"><span class="pull-right">Total</span></th>
            <th>@Html.DisplayFor(t=>Model.Total)</th>
        </tr>
       
    </tbody>
</table>  